#messages {
  background-image: url(../../public/background.jpg);
  height: 93vh;
  overflow: auto;
  margin-left: auto;
  margin-top: auto;
}

#input-message textarea {
  border-radius: 5px;
  margin-left: 10px;
  margin: auto;
  height: 6vh;
}

#message {
  border-radius: 10px;
  border: none;
  background-color: #e2dfdf;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.my-message p {
  background-color: #eeeeee;
  margin: 10px;
  height: fit-content;
  width: fit-content;
  max-width: 70%;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: 20px;
  white-space: pre-line;
  word-wrap: break-word;
}

.your-message p {
  background-color: skyblue;
  margin: 10px;
  height: fit-content;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  margin-right: auto;
  margin-left: 20px;
  max-width: 70%;
  white-space: pre-line;
  word-wrap: break-word;
}

#user {
  overflow: auto;
  height: 99vh;
}

#root {
  background-color: #f2f2f2;
}

#user div {
  width: 90%;
  font-size: large;
  cursor: pointer;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 20px;
}
