@font-face {
	font-family: 'Arial Rounded MT';
	src: url('src/assets/fonts/Arial_Rounded_MT.ttf');
}
body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 0;
	height: 100%;
}

body * {
	font-family: 'Mulish', sans-serif;
	/* font-family: 'Montserrat', sans-serif !important; */
}

#root {
	height: auto !important; /* real browsers */
	height: 100%; /* IE6: treaded as min-height*/
	min-height: 100%; /* real browsers */
	min-height: 100vh;
}

#root * {
	font-family: 'Mulish', sans-serif;
	/* font-family: 'Montserrat', sans-serif; */
}


#root .material-icons {
	font-family: 'Material Icons';
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;

	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;

	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;

	/* Support for IE. */
	font-feature-settings: 'liga';
}

input:-internal-autofill-selected {
	background-color: white !important;
}

button.Mui-disabled {
	opacity: 0.3;
}

.deAlign {
	display: flex;
	align-items: center;
	justify-content: center;
}
th.th-sort {
	display: flex;
	align-items: center;
}

.text-capitalize {
	text-transform: capitalize;
}

.custom-color-default.Mui-checked svg {
	fill: #304d95;
}

.color-red {
	color: #fd5a65;
}

/* .flag {
	width: 32px;
	margin-right: 10px;
	height: 32px;
	background: url(./asset/images/nation.png) no-repeat;
}
.flag,
.flag-mini {
	display: inline-block;
}
.flag-mini {
	width: 16px;
	height: 11px;
	background: url(./asset/images/flags-mini.png) no-repeat;
}
.flag.flag-ne {
	background-position: -384px -288px;
}
.flag.flag-kn {
	background-position: -64px -224px;
}
.flag.flag-dm {
	background-position: -224px -96px;
}
.flag.flag-th {
	background-position: -32px -416px;
}
.flag.flag-st {
	background-position: -288px -384px;
}
.flag.flag-ma {
	background-position: -96px -256px;
}
.flag.flag-pn {
	background-position: -448px -320px;
}
.flag.flag-gl {
	background-position: -480px -128px;
}
.flag.flag-mn {
	background-position: -416px -256px;
}
.flag.flag-sa {
	background-position: -320px -352px;
}
.flag.flag-bs {
	background-position: -448px -32px;
}
.flag.flag-et {
	background-position: 0 -128px;
}
.flag.flag-ve {
	background-position: -128px -448px;
}
.flag.flag-gi {
	background-position: -448px -128px;
}
.flag.flag-pl {
	background-position: -416px -320px;
}
.flag.flag-pg {
	background-position: -320px -320px;
}
.flag.flag-ag {
	background-position: -96px 0;
}
.flag.flag-al {
	background-position: -160px 0;
}
.flag.flag-ic {
	background-position: -480px -160px;
}
.flag.flag-gm {
	background-position: 0 -160px;
}
.flag.flag-bl {
	background-position: -288px -32px;
}
.flag.flag-ru {
	background-position: -256px -352px;
}
.flag.flag-jp {
	background-position: -384px -192px;
}
.flag.flag-mm {
	background-position: -384px -256px;
}
.flag.flag-nl {
	background-position: 0 -320px;
}
.flag.flag-cg {
	background-position: -192px -64px;
}
.flag.flag-ua {
	background-position: -416px -416px;
}
.flag.flag-mh {
	background-position: -288px -256px;
}
.flag.flag-gd {
	background-position: -320px -128px;
}
.flag.flag-lr {
	background-position: -416px -224px;
}
.flag.flag-cn {
	background-position: -384px -64px;
}
.flag.flag-tk {
	background-position: -96px -416px;
}
.flag.flag-na {
	background-position: -320px -288px;
}
.flag.flag-mk {
	background-position: -320px -256px;
}
.flag.flag-an {
	background-position: -224px 0;
}
.flag.flag-bd {
	background-position: -64px -32px;
}
.flag.flag-me {
	background-position: -192px -256px;
}
.flag.flag-mx {
	background-position: -224px -288px;
}
.flag.flag-co {
	background-position: -416px -64px;
}
.flag.flag-eg {
	background-position: -384px -96px;
}
.flag.flag-vg {
	background-position: -160px -448px;
}
.flag.flag-tl {
	background-position: -128px -416px;
}
.flag.flag-tv {
	background-position: -320px -416px;
}
.flag.flag-my {
	background-position: -256px -288px;
}
.flag.flag-cy {
	background-position: -64px -96px;
}
.flag.flag-eh {
	background-position: -416px -96px;
}
.flag.flag-jo {
	background-position: -352px -192px;
}
.flag.flag-cm {
	background-position: -352px -64px;
}
.flag.flag-mv {
	background-position: -160px -288px;
}
.flag.flag-pe {
	background-position: -256px -320px;
}
.flag.flag-cv {
	background-position: 0 -96px;
}
.flag.flag-tw {
	background-position: -352px -416px;
}
.flag.flag-dz {
	background-position: -288px -96px;
}
.flag.flag-by {
	background-position: -32px -64px;
}
.flag.flag-eu {
	background-position: -32px -128px;
}
.flag.flag-lc {
	background-position: -320px -224px;
}
.flag.flag-fo {
	background-position: -192px -128px;
}
.flag.flag-mg {
	background-position: -256px -256px;
}
.flag.flag-bh {
	background-position: -192px -32px;
}
.flag.flag-am {
	background-position: -192px 0;
}
.flag.flag-az {
	background-position: -480px 0;
}
.flag.flag-ee {
	background-position: -352px -96px;
}
.flag.flag-aw {
	background-position: -416px 0;
}
.flag.flag-kz {
	background-position: -224px -224px;
}
.flag.flag-nz {
	background-position: -160px -320px;
}
.flag.flag-nf {
	background-position: -416px -288px;
}
.flag.flag-gg {
	background-position: -384px -128px;
}
.flag.flag-ky {
	background-position: -192px -224px;
}
.flag.flag-mt {
	background-position: -96px -288px;
}
.flag.flag-sv {
	background-position: -320px -384px;
}
.flag.flag-km {
	background-position: -32px -224px;
}
.flag.flag-ae {
	background-position: -32px 0;
}
.flag.flag-pw {
	background-position: -64px -352px;
}
.flag.flag-uz {
	background-position: -32px -448px;
}
.flag.flag-bo {
	background-position: -384px -32px;
}
.flag.flag-ke {
	background-position: -416px -192px;
}
.flag.flag-pr {
	background-position: -480px -320px;
}
.flag.flag-la {
	background-position: -256px -224px;
}
.flag.flag-tn {
	background-position: -192px -416px;
}
.flag.flag-sb {
	background-position: -352px -352px;
}
.flag.flag-bw {
	background-position: 0 -64px;
}
.flag.flag-im {
	background-position: -96px -192px;
}
.flag.flag-dj {
	background-position: -160px -96px;
}
.flag.flag-td {
	background-position: -448px -384px;
}
.flag.flag-gp {
	background-position: -64px -160px;
}
.flag.flag-kh {
	background-position: -480px -192px;
}
.flag.flag-pa {
	background-position: -224px -320px;
}
.flag.flag-se {
	background-position: -448px -352px;
}
.flag.flag-ug {
	background-position: -448px -416px;
}
.flag.flag-sc {
	background-position: -384px -352px;
}
.flag.flag-hu {
	background-position: -448px -160px;
}
.flag.flag-af {
	background-position: -64px 0;
}
.flag.flag-nc {
	background-position: -352px -288px;
}
.flag.flag-mc {
	background-position: -128px -256px;
}
.flag.flag-so {
	background-position: -192px -384px;
}
.flag.flag-cz {
	background-position: -96px -96px;
}
.flag.flag-gy {
	background-position: -288px -160px;
}
.flag.flag-gw {
	background-position: -256px -160px;
}
.flag.flag-hn {
	background-position: -352px -160px;
}
.flag.flag-za {
	background-position: -416px -448px;
}
.flag.flag-lk {
	background-position: -384px -224px;
}
.flag.flag-do {
	background-position: -256px -96px;
}
.flag.flag-tz {
	background-position: -384px -416px;
}
.flag.flag-mz {
	background-position: -288px -288px;
}
.flag.flag-hk {
	background-position: -320px -160px;
}
.flag.flag-va {
	background-position: -64px -448px;
}
.flag.flag-vi {
	background-position: -192px -448px;
}
.flag.flag-lb {
	background-position: -288px -224px;
}
.flag.flag-bn {
	background-position: -352px -32px;
}
.flag.flag-yt {
	background-position: -384px -448px;
}
.flag.flag-sz {
	background-position: -384px -384px;
}
.flag.flag-tm {
	background-position: -160px -416px;
}
.flag.flag-ci {
	background-position: -256px -64px;
}
.flag.flag-ro {
	background-position: -192px -352px;
}
.flag.flag-ki {
	background-position: 0 -224px;
}
.flag.flag-us {
	background-position: -480px -416px;
}
.flag.flag-lu {
	background-position: 0 -256px;
}
.flag.flag-lt {
	background-position: -480px -224px;
}
.flag.flag-si {
	background-position: -32px -384px;
}
.flag.flag-ar {
	background-position: -288px 0;
}
.flag.flag-tr {
	background-position: -256px -416px;
}
.flag.flag-fr {
	background-position: -224px -128px;
}
.flag.flag-ly {
	background-position: -64px -256px;
}
.flag.flag-qa {
	background-position: -128px -352px;
}
.flag.flag-sl {
	background-position: -96px -384px;
}
.flag.flag-bt {
	background-position: -480px -32px;
}
.flag.flag-ck {
	background-position: -288px -64px;
}
.flag.flag-er {
	background-position: -448px -96px;
}
.flag.flag-hr {
	background-position: -384px -160px;
}
.flag.flag-ca {
	background-position: -96px -64px;
}
.flag.flag-nu {
	background-position: -128px -320px;
}
.flag.flag-es {
	background-position: -480px -96px;
}
.flag.flag-pk {
	background-position: -384px -320px;
}
.flag.flag-ax {
	background-position: -448px 0;
}
.flag.flag-om {
	background-position: -192px -320px;
}
.flag.flag-ph {
	background-position: -352px -320px;
}
.flag.flag-id {
	background-position: 0 -192px;
}
.flag.flag-mr {
	background-position: -32px -288px;
}
.flag.flag-je {
	background-position: -288px -192px;
}
.flag.flag-sy {
	background-position: -352px -384px;
}
.flag.flag-gq {
	background-position: -96px -160px;
}
.flag.flag-ng {
	background-position: -448px -288px;
}
.flag.flag-mu {
	background-position: -128px -288px;
}
.flag.flag-kp {
	background-position: -96px -224px;
}
.flag.flag-mw {
	background-position: -192px -288px;
}
.flag.flag-ms {
	background-position: -64px -288px;
}
.flag.flag-as {
	background-position: -320px 0;
}
.flag.flag-it {
	background-position: -256px -192px;
}
.flag.flag-rw {
	background-position: -288px -352px;
}
.flag.flag-rs {
	background-position: -224px -352px;
}
.flag.flag-uy {
	background-position: 0 -448px;
}
.flag.flag-cl {
	background-position: -320px -64px;
}
.flag.flag-ss {
	background-position: -256px -384px;
}
.flag.flag-gt {
	background-position: -192px -160px;
}
.flag.flag-zw {
	background-position: -480px -448px;
}
.flag.flag-kw {
	background-position: -160px -224px;
}
.flag.flag-li {
	background-position: -352px -224px;
}
.flag.flag-tj {
	background-position: -64px -416px;
}
.flag.flag-gs {
	background-position: -160px -160px;
}
.flag.flag-is {
	background-position: -224px -192px;
}
.flag.flag-sd {
	background-position: -416px -352px;
}
.flag.flag-np {
	background-position: -64px -320px;
}
.flag.flag-pf {
	background-position: -288px -320px;
}
.flag.flag-bm {
	background-position: -320px -32px;
}
.flag.flag-de {
	background-position: -128px -96px;
}
.flag.flag-md {
	background-position: -160px -256px;
}
.flag.flag-cf {
	background-position: -160px -64px;
}
.flag.flag-re {
	background-position: -160px -352px;
}
.flag.flag-gr {
	background-position: -128px -160px;
}
.flag.flag-bi {
	background-position: -224px -32px;
}
.flag.flag-il {
	background-position: -64px -192px;
}
.flag.flag-be {
	background-position: -96px -32px;
}
.flag.flag-dk {
	background-position: -192px -96px;
}
.flag.flag-bz {
	background-position: -64px -64px;
}
.flag.flag-py {
	background-position: -96px -352px;
}
.flag.flag-br {
	background-position: -416px -32px;
}
.flag.flag-ch {
	background-position: -224px -64px;
}
.flag.flag-gb {
	background-position: -288px -128px;
}
.flag.flag-vn {
	background-position: -224px -448px;
}
.flag.flag-mq {
	background-position: 0 -288px;
}
.flag.flag-at {
	background-position: -352px 0;
}
.flag.flag-tf {
	background-position: -480px -384px;
}
.flag.flag-ie {
	background-position: -32px -192px;
}
.flag.flag-ga {
	background-position: -256px -128px;
}
.flag.flag-in {
	background-position: -128px -192px;
}
.flag.flag-ye {
	background-position: -352px -448px;
}
.flag.flag-mf {
	background-position: -224px -256px;
}
.flag.flag-ad {
	background-position: 0 0;
}
.flag.flag-cu {
	background-position: -480px -64px;
}
.flag.flag-gh {
	background-position: -416px -128px;
}
.flag.flag-ws {
	background-position: -320px -448px;
}
.flag.flag-jm {
	background-position: -320px -192px;
}
.flag.flag-sn {
	background-position: -160px -384px;
}
.flag.flag-sh {
	background-position: 0 -384px;
}
.flag.flag-bf {
	background-position: -128px -32px;
}
.flag.flag-fi {
	background-position: -64px -128px;
}
.flag.flag-tc {
	background-position: -416px -384px;
}
.flag.flag-lv {
	background-position: -32px -256px;
}
.flag.flag-bj {
	background-position: -256px -32px;
}
.flag.flag-ni {
	background-position: -480px -288px;
}
.flag.flag-gn {
	background-position: -32px -160px;
}
.flag.flag-ge {
	background-position: -352px -128px;
}
.flag.flag-gu {
	background-position: -224px -160px;
}
.flag.flag-au {
	background-position: -384px 0;
}
.flag.flag-fk {
	background-position: -128px -128px;
}
.flag.flag-ls {
	background-position: -448px -224px;
}
.flag.flag-tt {
	background-position: -288px -416px;
}
.flag.flag-wf {
	background-position: -288px -448px;
}
.flag.flag-ir {
	background-position: -192px -192px;
}
.flag.flag-sm {
	background-position: -128px -384px;
}
.flag.flag-no {
	background-position: -32px -320px;
}
.flag.flag-mp {
	background-position: -480px -256px;
}
.flag.flag-ml {
	background-position: -352px -256px;
}
.flag.flag-ba {
	background-position: 0 -32px;
}
.flag.flag-ht {
	background-position: -416px -160px;
}
.flag.flag-cr {
	background-position: -448px -64px;
}
.flag.flag-sg {
	background-position: -480px -352px;
}
.flag.flag-ao {
	background-position: -256px 0;
}
.flag.flag-vu {
	background-position: -256px -448px;
}
.flag.flag-to {
	background-position: -224px -416px;
}
.flag.flag-nr {
	background-position: -96px -320px;
}
.flag.flag-kr {
	background-position: -128px -224px;
}
.flag.flag-kg {
	background-position: -448px -192px;
}
.flag.flag-iq {
	background-position: -160px -192px;
}
.flag.flag-ps {
	background-position: 0 -352px;
}
.flag.flag-fj {
	background-position: -96px -128px;
}
.flag.flag-sk {
	background-position: -64px -384px;
}
.flag.flag-mo {
	background-position: -448px -256px;
}
.flag.flag-vc {
	background-position: -96px -448px;
}
.flag.flag-tg {
	background-position: 0 -416px;
}
.flag.flag-cd {
	background-position: -128px -64px;
}
.flag.flag-sr {
	background-position: -224px -384px;
}
.flag.flag-bb {
	background-position: -32px -32px;
}
.flag.flag-cw {
	background-position: -32px -96px;
}
.flag.flag-pt {
	background-position: -32px -352px;
}
.flag.flag-ai {
	background-position: -128px 0;
}
.flag.flag-fm {
	background-position: -160px -128px;
}
.flag.flag-bg {
	background-position: -160px -32px;
}
.flag.flag-ec {
	background-position: -320px -96px;
}
.flag.flag-zm {
	background-position: -448px -448px;
}
.flag-mini.flag-cz {
	background-position: -64px -33px;
}
.flag-mini.flag-ne {
	background-position: -16px -110px;
}
.flag-mini.flag-jm {
	background-position: -240px -66px;
}
.flag-mini.flag-ae {
	background-position: -16px 0;
}
.flag-mini.flag-im {
	background-position: -112px -66px;
}
.flag-mini.flag-sh {
	background-position: -112px -132px;
}
.flag-mini.flag-gm {
	background-position: -48px -55px;
}
.flag-mini.flag-bm {
	background-position: -144px -11px;
}
.flag-mini.flag-ga {
	background-position: -160px -44px;
}
.flag-mini.flag-scotland {
	background-position: -48px -132px;
}
.flag-mini.flag-um {
	background-position: -160px -154px;
}
.flag-mini.flag-bz {
	background-position: -32px -22px;
}
.flag-mini.flag-vg {
	background-position: -16px -165px;
}
.flag-mini.flag-kg {
	background-position: -48px -77px;
}
.flag-mini.flag-uz {
	background-position: -208px -154px;
}
.flag-mini.flag-ke {
	background-position: -32px -77px;
}
.flag-mini.flag-il {
	background-position: -96px -66px;
}
.flag-mini.flag-sn {
	background-position: -208px -132px;
}
.flag-mini.flag-ai {
	background-position: -64px 0;
}
.flag-mini.flag-ba {
	background-position: 0 -11px;
}
.flag-mini.flag-am {
	background-position: -96px 0;
}
.flag-mini.flag-lr {
	background-position: -48px -88px;
}
.flag-mini.flag-gb {
	background-position: -176px -44px;
}
.flag-mini.flag-no {
	background-position: -96px -110px;
}
.flag-mini.flag-sr {
	background-position: 0 -143px;
}
.flag-mini.flag-tl {
	background-position: -240px -143px;
}
.flag-mini.flag-py {
	background-position: -144px -121px;
}
.flag-mini.flag-zw {
	background-position: -224px -165px;
}
.flag-mini.flag-sy {
	background-position: -80px -143px;
}
.flag-mini.flag-mv {
	background-position: -160px -99px;
}
.flag-mini.flag-ar {
	background-position: -144px 0;
}
.flag-mini.flag-kn {
	background-position: -112px -77px;
}
.flag-mini.flag-as {
	background-position: -160px 0;
}
.flag-mini.flag-ms {
	background-position: -112px -99px;
}
.flag-mini.flag-sb {
	background-position: -16px -132px;
}
.flag-mini.flag-kw {
	background-position: -176px -77px;
}
.flag-mini.flag-bh {
	background-position: -96px -11px;
}
.flag-mini.flag-ge {
	background-position: -208px -44px;
}
.flag-mini.flag-catalonia {
	background-position: -64px -22px;
}
.flag-mini.flag-tg {
	background-position: -160px -143px;
}
.flag-mini.flag-kh {
	background-position: -64px -77px;
}
.flag-mini.flag-tc {
	background-position: -112px -143px;
}
.flag-mini.flag-nz {
	background-position: -160px -110px;
}
.flag-mini.flag-do {
	background-position: -144px -33px;
}
.flag-mini.flag-tj {
	background-position: -208px -143px;
}
.flag-mini.flag-tf {
	background-position: -144px -143px;
}
.flag-mini.flag-eg {
	background-position: -208px -33px;
}
.flag-mini.flag-td {
	background-position: -128px -143px;
}
.flag-mini.flag-br {
	background-position: -192px -11px;
}
.flag-mini.flag-ph {
	background-position: 0 -121px;
}
.flag-mini.flag-mr {
	background-position: -96px -99px;
}
.flag-mini.flag-pm {
	background-position: -48px -121px;
}
.flag-mini.flag-tk {
	background-position: -224px -143px;
}
.flag-mini.flag-ci {
	background-position: -144px -22px;
}
.flag-mini.flag-cv {
	background-position: -16px -33px;
}
.flag-mini.flag-sl {
	background-position: -176px -132px;
}
.flag-mini.flag-ee {
	background-position: -192px -33px;
}
.flag-mini.flag-md {
	background-position: -176px -88px;
}
.flag-mini.flag-cg {
	background-position: -112px -22px;
}
.flag-mini.flag-jo {
	background-position: 0 -77px;
}
.flag-mini.flag-ec {
	background-position: -176px -33px;
}
.flag-mini.flag-ng {
	background-position: -48px -110px;
}
.flag-mini.flag-lu {
	background-position: -96px -88px;
}
.flag-mini.flag-ag {
	background-position: -48px 0;
}
.flag-mini.flag-bd {
	background-position: -32px -11px;
}
.flag-mini.flag-sm {
	background-position: -192px -132px;
}
.flag-mini.flag-ax {
	background-position: -224px 0;
}
.flag-mini.flag-mm {
	background-position: -16px -99px;
}
.flag-mini.flag-sx {
	background-position: -64px -143px;
}
.flag-mini.flag-om {
	background-position: -176px -110px;
}
.flag-mini.flag-rs {
	background-position: -208px -121px;
}
.flag-mini.flag-vn {
	background-position: -48px -165px;
}
.flag-mini.flag-fr {
	background-position: -144px -44px;
}
.flag-mini.flag-us {
	background-position: -176px -154px;
}
.flag-mini.flag-lk {
	background-position: -32px -88px;
}
.flag-mini.flag-mc {
	background-position: -160px -88px;
}
.flag-mini.flag-ua {
	background-position: -128px -154px;
}
.flag-mini.flag-de {
	background-position: -80px -33px;
}
.flag-mini.flag-tt {
	background-position: -64px -154px;
}
.flag-mini.flag-va {
	background-position: -224px -154px;
}
.flag-mini.flag-lb {
	background-position: -240px -77px;
}
.flag-mini.flag-mo {
	background-position: -48px -99px;
}
.flag-mini.flag-to {
	background-position: -32px -154px;
}
.flag-mini.flag-ki {
	background-position: -80px -77px;
}
.flag-mini.flag-cl {
	background-position: -176px -22px;
}
.flag-mini.flag-lc {
	background-position: 0 -88px;
}
.flag-mini.flag-tn {
	background-position: -16px -154px;
}
.flag-mini.flag-ir {
	background-position: -176px -66px;
}
.flag-mini.flag-bo {
	background-position: -176px -11px;
}
.flag-mini.flag-io {
	background-position: -144px -66px;
}
.flag-mini.flag-cf {
	background-position: -96px -22px;
}
.flag-mini.flag-za {
	background-position: -176px -165px;
}
.flag-mini.flag-dm {
	background-position: -128px -33px;
}
.flag-mini.flag-my {
	background-position: -208px -99px;
}
.flag-mini.flag-ug {
	background-position: -144px -154px;
}
.flag-mini.flag-mw {
	background-position: -176px -99px;
}
.flag-mini.flag-tv {
	background-position: -80px -154px;
}
.flag-mini.flag-ss {
	background-position: -16px -143px;
}
.flag-mini.flag-bb {
	background-position: -16px -11px;
}
.flag-mini.flag-ca {
	background-position: -48px -22px;
}
.flag-mini.flag-ni {
	background-position: -64px -110px;
}
.flag-mini.flag-ad {
	background-position: 0 0;
}
.flag-mini.flag-so {
	background-position: -224px -132px;
}
.flag-mini.flag-gt {
	background-position: -144px -55px;
}
.flag-mini.flag-id {
	background-position: -64px -66px;
}
.flag-mini.flag-si {
	background-position: -128px -132px;
}
.flag-mini.flag-np {
	background-position: -112px -110px;
}
.flag-mini.flag-hk {
	background-position: -208px -55px;
}
.flag-mini.flag-me {
	background-position: -192px -88px;
}
.flag-mini.flag-bg {
	background-position: -80px -11px;
}
.flag-mini.flag-cm {
	background-position: -192px -22px;
}
.flag-mini.flag-rw {
	background-position: -240px -121px;
}
.flag-mini.flag-pt {
	background-position: -112px -121px;
}
.flag-mini.flag-ic {
	background-position: -48px -66px;
}
.flag-mini.flag-cd {
	background-position: -80px -22px;
}
.flag-mini.flag-ck {
	background-position: -160px -22px;
}
.flag-mini.flag-mt {
	background-position: -128px -99px;
}
.flag-mini.flag-pl {
	background-position: -32px -121px;
}
.flag-mini.flag-ch {
	background-position: -128px -22px;
}
.flag-mini.flag-ve {
	background-position: 0 -165px;
}
.flag-mini.flag-sk {
	background-position: -160px -132px;
}
.flag-mini.flag-ye {
	background-position: -144px -165px;
}
.flag-mini.flag-mh {
	background-position: -224px -88px;
}
.flag-mini.flag-pa {
	background-position: -192px -110px;
}
.flag-mini.flag-kurdistan {
	background-position: -160px -77px;
}
.flag-mini.flag-hu {
	background-position: -32px -66px;
}
.flag-mini.flag-vu {
	background-position: -64px -165px;
}
.flag-mini.flag-bv {
	background-position: -240px -11px;
}
.flag-mini.flag-nr {
	background-position: -128px -110px;
}
.flag-mini.flag-vc {
	background-position: -240px -154px;
}
.flag-mini.flag-qa {
	background-position: -160px -121px;
}
.flag-mini.flag-somaliland {
	background-position: -240px -132px;
}
.flag-mini.flag-sc {
	background-position: -32px -132px;
}
.flag-mini.flag-an {
	background-position: -112px 0;
}
.flag-mini.flag-mk {
	background-position: -240px -88px;
}
.flag-mini.flag-je {
	background-position: -224px -66px;
}
.flag-mini.flag-fi {
	background-position: -64px -44px;
}
.flag-mini.flag-af {
	background-position: -32px 0;
}
.flag-mini.flag-be {
	background-position: -48px -11px;
}
.flag-mini.flag-ma {
	background-position: -144px -88px;
}
.flag-mini.flag-fo {
	background-position: -128px -44px;
}
.flag-mini.flag-bt {
	background-position: -224px -11px;
}
.flag-mini.flag-cu {
	background-position: 0 -33px;
}
.flag-mini.flag-pn {
	background-position: -64px -121px;
}
.flag-mini.flag-al {
	background-position: -80px 0;
}
.flag-mini.flag-kp {
	background-position: -128px -77px;
}
.flag-mini.flag-eu {
	background-position: -48px -44px;
}
.flag-mini.flag-es {
	background-position: -16px -44px;
}
.flag-mini.flag-pr {
	background-position: -80px -121px;
}
.flag-mini.flag-cy {
	background-position: -48px -33px;
}
.flag-mini.flag-bj {
	background-position: -128px -11px;
}
.flag-mini.flag-tibet {
	background-position: -192px -143px;
}
.flag-mini.flag-gd {
	background-position: -192px -44px;
}
.flag-mini.flag-nu {
	background-position: -144px -110px;
}
.flag-mini.flag-gf {
	background-position: -224px -44px;
}
.flag-mini.flag-km {
	background-position: -96px -77px;
}
.flag-mini.flag-sj {
	background-position: -144px -132px;
}
.flag-mini.flag-ls {
	background-position: -64px -88px;
}
.flag-mini.flag-fj {
	background-position: -80px -44px;
}
.flag-mini.flag-bs {
	background-position: -208px -11px;
}
.flag-mini.flag-bw {
	background-position: 0 -22px;
}
.flag-mini.flag-mx {
	background-position: -192px -99px;
}
.flag-mini.flag-pe {
	background-position: -208px -110px;
}
.flag-mini.flag-wales {
	background-position: -80px -165px;
}
.flag-mini.flag-sg {
	background-position: -96px -132px;
}
.flag-mini.flag-pk {
	background-position: -16px -121px;
}
.flag-mini.flag-nc {
	background-position: 0 -110px;
}
.flag-mini.flag-hr {
	background-position: 0 -66px;
}
.flag-mini.flag-dk {
	background-position: -112px -33px;
}
.flag-mini.flag-bf {
	background-position: -64px -11px;
}
.flag-mini.flag-au {
	background-position: -192px 0;
}
.flag-mini.flag-kr {
	background-position: -144px -77px;
}
.flag-mini.flag-gw {
	background-position: -176px -55px;
}
.flag-mini.flag-gq {
	background-position: -96px -55px;
}
.flag-mini.flag-la {
	background-position: -224px -77px;
}
.flag-mini.flag-bn {
	background-position: -160px -11px;
}
.flag-mini.flag-gn {
	background-position: -64px -55px;
}
.flag-mini.flag-aw {
	background-position: -208px 0;
}
.flag-mini.flag-lt {
	background-position: -80px -88px;
}
.flag-mini.flag-fk {
	background-position: -96px -44px;
}
.flag-mini.flag-pw {
	background-position: -128px -121px;
}
.flag-mini.flag-eh {
	background-position: -224px -33px;
}
.flag-mini.flag-sa {
	background-position: 0 -132px;
}
.flag-mini.flag-kz {
	background-position: -208px -77px;
}
.flag-mini.flag-gy {
	background-position: -192px -55px;
}
.flag-mini.flag-er {
	background-position: 0 -44px;
}
.flag-mini.flag-in {
	background-position: -128px -66px;
}
.flag-mini.flag-ml {
	background-position: 0 -99px;
}
.flag-mini.flag-re {
	background-position: -176px -121px;
}
.flag-mini.flag-cr {
	background-position: -240px -22px;
}
.flag-mini.flag-at {
	background-position: -176px 0;
}
.flag-mini.flag-iq {
	background-position: -160px -66px;
}
.flag-mini.flag-ky {
	background-position: -192px -77px;
}
.flag-mini.flag-gh {
	background-position: 0 -55px;
}
.flag-mini.flag-uy {
	background-position: -192px -154px;
}
.flag-mini.flag-az {
	background-position: -240px 0;
}
.flag-mini.flag-pf {
	background-position: -224px -110px;
}
.flag-mini.flag-ru {
	background-position: -224px -121px;
}
.flag-mini.flag-it {
	background-position: -208px -66px;
}
.flag-mini.flag-jp {
	background-position: -16px -77px;
}
.flag-mini.flag-st {
	background-position: -32px -143px;
}
.flag-mini.flag-gr {
	background-position: -112px -55px;
}
.flag-mini.flag-nl {
	background-position: -80px -110px;
}
.flag-mini.flag-is {
	background-position: -192px -66px;
}
.flag-mini.flag-mn {
	background-position: -32px -99px;
}
.flag-mini.flag-wf {
	background-position: -96px -165px;
}
.flag-mini.flag-ro {
	background-position: -192px -121px;
}
.flag-mini.flag-gg {
	background-position: -240px -44px;
}
.flag-mini.flag-cw {
	background-position: -32px -33px;
}
.flag-mini.flag-et {
	background-position: -32px -44px;
}
.flag-mini.flag-mu {
	background-position: -144px -99px;
}
.flag-mini.flag-gu {
	background-position: -160px -55px;
}
.flag-mini.flag-ie {
	background-position: -80px -66px;
}
.flag-mini.flag-sz {
	background-position: -96px -143px;
}
.flag-mini.flag-fm {
	background-position: -112px -44px;
}
.flag-mini.flag-gl {
	background-position: -32px -55px;
}
.flag-mini.flag-th {
	background-position: -176px -143px;
}
.flag-mini.flag-bi {
	background-position: -112px -11px;
}
.flag-mini.flag-ao {
	background-position: -128px 0;
}
.flag-mini.flag-sv {
	background-position: -48px -143px;
}
.flag-mini.flag-zanzibar {
	background-position: -192px -165px;
}
.flag-mini.flag-xk {
	background-position: -128px -165px;
}
.flag-mini.flag-gp {
	background-position: -80px -55px;
}
.flag-mini.flag-li {
	background-position: -16px -88px;
}
.flag-mini.flag-na {
	background-position: -240px -99px;
}
.flag-mini.flag-se {
	background-position: -80px -132px;
}
.flag-mini.flag-by {
	background-position: -16px -22px;
}
.flag-mini.flag-pg {
	background-position: -240px -110px;
}
.flag-mini.flag-ps {
	background-position: -96px -121px;
}
.flag-mini.flag-yt {
	background-position: -160px -165px;
}
.flag-mini.flag-tm {
	background-position: 0 -154px;
}
.flag-mini.flag-ly {
	background-position: -128px -88px;
}
.flag-mini.flag-sd {
	background-position: -64px -132px;
}
.flag-mini.flag-mz {
	background-position: -224px -99px;
}
.flag-mini.flag-tr {
	background-position: -48px -154px;
}
.flag-mini.flag-gs {
	background-position: -128px -55px;
}
.flag-mini.flag-dj {
	background-position: -96px -33px;
}
.flag-mini.flag-england {
	background-position: -240px -33px;
}
.flag-mini.flag-gi {
	background-position: -16px -55px;
}
.flag-mini.flag-tz {
	background-position: -112px -154px;
}
.flag-mini.flag-zm {
	background-position: -208px -165px;
}
.flag-mini.flag-nf {
	background-position: -32px -110px;
}
.flag-mini.flag-lv {
	background-position: -112px -88px;
}
.flag-mini.flag-dz {
	background-position: -160px -33px;
}
.flag-mini.flag-ht {
	background-position: -16px -66px;
}
.flag-mini.flag-co {
	background-position: -224px -22px;
}
.flag-mini.flag-cn {
	background-position: -208px -22px;
}
.flag-mini.flag-mq {
	background-position: -80px -99px;
}
.flag-mini.flag-vi {
	background-position: -32px -165px;
}
.flag-mini.flag-hm {
	background-position: -224px -55px;
}
.flag-mini.flag-tw {
	background-position: -96px -154px;
}
.flag-mini.flag-mp {
	background-position: -64px -99px;
}
.flag-mini.flag-ws {
	background-position: -112px -165px;
}
.flag-mini.flag-hn {
	background-position: -240px -55px;
}
.flag-mini.flag-mg {
	background-position: -208px -88px;
} */
